<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="RetialApp" >
	
	<test name="LoginTest">
    	<classes>
        	<class name="com.retailapp.tests.LoginTest" ></class>  
    	</classes>
	</test>
	
	<test name="AddCategory">
    	<classes>
        	<class name="com.retailapp.tests.AddCategory" ></class>  
    	</classes>
	</test>
	

	
</suite>